# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Build directories
build/
dist/
*.egg-info/

# Source files (Protected)
skyby.pyx
skyby.c
_skyby_setup.py

# Session and ID files
.rj_devid
.rj_key
.rj_adb_ip
.rj_adb_gw
.rj_session
.rj_wifi_ssid
